.layout {
  
  height: 94vh;
}

#c {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 2%;
  cursor: pointer;
  color: cadetblue;
  border: none;
  width: 100%;
  text-align: left;
  background-color: #fff;

}

#c:hover {
  background-color: #E4E9F7;
}

#in {
  border-radius: 30px;
  height: 100%;
}

.view {
  position: fixed;
  left: 72%;
  top: 10%;
  right: 1%;
  color: white;
  padding: 15px;
  background: #47cbff;
  box-shadow: 0px 0px 10px 2px rgb(214, 210, 210);
  border-radius: 8px;
  width: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  animation: fade 5s;
  cursor: context-menu;
}

@keyframes fade {
  0% {
    opacity: 0;

  }

  100% {
    opacity: 1;

  }
}