<router-outlet></router-outlet>
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<body>
    <div [ngClass]="navMode ? 'sidebar active' : 'sidebar'">
        <div class="logo_content">
            <div class="logo">
                <div class="logo_name" style="font-family: 'Poppins', sans-serif;">Arikya</div>
            </div>
            <i class='bx bx-menu-alt-right' (click)=" changeNav()" id="btn"></i>
        </div>
        <ul class="nav_list">
            <li *ngFor="let i of content">
                <a (click)="show=false" [routerLink]="i.rlink" routerLinkActive="clicked"><span id="cick"></span>
                    <i [class]='i.icon'></i>
                    <span class="links_name">{{i.label}}</span>
                </a>
                <span class="tooltip">{{i.label}}</span>
            </li>
        </ul>
    </div>
</body>