
.in{
    margin:5%;
    margin-top: 2%;
    height:80vh;
    font-size: 12px;
}
.size{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding:0.7%;
    padding-bottom: 0%;
    width:380px;
    border-color: #fff;
    background-color: #fff !important;
    border-radius: 3px;
    color: #00B0FF;
    font-size: 13px;
    font-weight:600;
}
#add:hover{
    background-color: #00B0FF !important ;
    color: white;
}
span{
    font-size: 11px;
    text-align: center;
    font-weight: 400;
}

#hprev:hover
{
    background-color: #1b1c1e !important;
    color: #fff !important;
}