<div class="table-responsive" [ngClass]="overdata.length==0?'back':''"
    style="padding:1rem;padding-top: 1rem;height: 95vh;">
    <div class="row">
        <div class="col-sm-9">
            <h5 style="color: #1b1c1e;"><strong>COMPANIES</strong></h5>

            <div class="row" style="font-size: 0.8rem;margin: 2rem 0rem;" *ngIf="overdata.length>0 else nocompany">
                <div class="col-sm" *ngFor="let c of overdata" (click)="company(c)">
                    <div class="card p-4" style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
                        <strong style="color: #1b1c1e;">{{c.placementcyclename | uppercase}}</strong>
                        <h6>{{c.companyname | uppercase}}</h6>

                        <!-- <span style="margin-top: 0.3rem;display: flex;">
                            You have
                            <span *ngIf="c.registered!='yes'">not</span> registered for {{c.companyname}} ,

                            <span *ngIf="c.offerletter=='' || c.offerletter==null else offerletterdown"> did not
                                upload the offer letter
                                yet ,</span>
                            <ng-template #offerletterdown>
                                <span *ngIf="c.offerstatus=='yes' else rejected">&nbsp; accepted &nbsp;</span>
                                <ng-template #rejected>
                                    <span style="color: #a5081a;"> &nbsp; rejected &nbsp;</span>
                                </ng-template>

                                the offer .
                               





                                <span *ngIf="c.verifiedoffer=='yes'">
                                    offer letter is verified
                                </span>














                            </ng-template>








                        </span> -->


                        <div style="display: flex;">
                            <div style="color: #a5081a;margin-left: 12vw;"><strong
                                    *ngIf="c.rejectedat!='-'">{{c.rejectedat}}</strong> </div>
                            <div *ngIf="c.offerletter!='-'" (click)="downloadPdf(c.offerletter,'Offer Letter')">
                                <div style="color: #00b0ff; cursor: pointer;margin-left: 10vw;">
                                    Click to download the offer letter
                                </div>
                            </div>
                        </div>

                        <div style="display:flex;justify-content: center;align-items: center;max-height: 10vh;">
                            <div>
                                <i *ngIf="c.registered!='no'" style="font-size:2rem" class='bx bxs-check-circle'
                                    [ngClass]="c.registered=='yes'?'active':'empty'"></i>
                                <i *ngIf="c.registered=='no'" style="color: #a5081a;font-size: 2rem;"
                                    class='bx bxs-x-circle'></i>
                            </div>
                            <div style="height: 5px;width: 25vw;"
                                [ngClass]="(c.offerstatus=='offered' || c.offerstatus=='accepted')?'activeline':c.offerstatus=='no'?'rejected':'emptyline'">
                            </div>
                            <div>
                                <i *ngIf="c.offerstatus!='no'" style="font-size:2rem" class='bx bxs-check-circle'
                                    [ngClass]="(c.offerstatus=='offered' || c.offerstatus=='accepted')?'active':'empty'"></i>
                                <i *ngIf="c.offerstatus=='no'" style="color: #a5081a;font-size: 2rem;"
                                    class='bx bxs-x-circle'></i>
                            </div>
                            <div style="height: 5px;width: 25vw;"
                                [ngClass]="c.placed=='yes'?'activeline':c.placed=='no'?'rejected':'emptyline'">
                            </div>
                            <div>
                                <i *ngIf="c.placed!='no'" style="font-size:2rem" class='bx bxs-check-circle'
                                    [ngClass]="c.placed=='yes'?'active':'empty'"></i>
                                <i *ngIf="c.placed=='no'" style="color: #a5081a;font-size: 2rem;"
                                    class='bx bxs-x-circle'></i>
                            </div>

                        </div>



                        <div style="display:flex;max-height: 10vh;margin-left: 1vw;margin-top: 0.6rem;">

                            <div style="color: #1b1c1e;"><strong>REGISTRATION</strong></div>
                            <div style="height: 5px;width: 21vw;background-color: #fff;">
                            </div>


                            <div style="color: #1b1c1e;"><strong>OFFERED</strong></div>
                            <div style="height: 5px;width: 21vw;background-color: #fff;">
                            </div>

                            <div style="color: #1b1c1e;margin-left: 2rem;"><strong>PLACED</strong></div>



                        </div>





                    </div>
                    <!-- <table class=" table"
                        style="padding: 2rem;box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;border-radius: 3px;">
                        <tbody>
                            <tr>
                                <td><strong> Placement's cycle </strong></td>
                                <td>{{c.placementcyclename}}</td>
                            </tr>
                            <tr>
                                <td><strong> company </strong></td>
                                <td>{{c.companyname}}</td>
                            </tr>
                            <tr>
                                <td><strong> company location</strong> </td>
                                <td>{{c.companylocation}}</td>
                            </tr>
                            <tr>
                                <td><strong> Registered </strong></td>
                                <td>{{c.registered}}</td>
                            </tr>
                            <tr>
                                <td><strong> offerletter</strong> </td>
                                <td>
                                    <div *ngIf="c.offerletter=='' || c.offerletter==null">Not yet uploaded
                                    </div>
                                    <div *ngIf="c.offerletter!='' && c.offerletter!=null "
                                        (click)="downloadPdf(c.offerletter,'Offer Letter')">
                                        <div style="color: #00b0ff; cursor: pointer;">
                                            download
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><strong> offerstatus </strong></td>
                                <td>{{c.offerstatus}}</td>
                            </tr>
                            <tr>
                                <td><strong> verifiedoffer </strong></td>
                                <td>{{c.verifiedoffer}}</td>
                            </tr>
                            <tr>
                                <td><strong> Placed </strong></td>
                                <td>{{c.placed}}</td>
                            </tr>
                            <tr>
                                <td><strong> Package </strong></td>
                                <td>{{c.package}}</td>
                            </tr>
                        </tbody>
                    </table> -->
                    <br />
                </div>
            </div>
            <ng-template #nocompany>
                <div style="display: flex;justify-content: center">
                    <div style="text-align: center;">
                        <img src="../../../assets/search.gif" style="max-height: 300px;"><br>
                        <h5 style="cursor: pointer;color: #1b1c1e;"><strong>

                                You are not eligible for the companies yet !
                            </strong></h5>
                    </div>
                </div>
            </ng-template>
        </div>

        <div *ngIf="placementsinterest.length>0 else no" class="col-sm table-responsive card shadow"
            style="max-height: 90vh;border:none"><br /><br />
            <h5><strong style="color: #1b1c1e;">PLACEMENTS CYCLES</strong></h5><br>
            <div *ngFor="let c of placementsinterest;index as i">
                <div style="background-color: #fff;font-size: 0.8rem;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;padding: 1rem;"
                    *ngIf="c[c.placementcyclename]==''">
                    Hey ! your profile is shortlisted for <strong>{{c.placementcyclename | uppercase}} .</strong>
                    Are you interested ?<br /><br />
                    <div style="display: flex;">
                        <button (click)="updateplacementinterest(i,'yes',c.placementcyclename)"
                            style="font-size: 0.8rem;width: 5vw;margin-right: 1rem;background-color: #00b0ff;"
                            class="btn btn-primary">Yes
                            I'm</button>
                        <button (click)="updateplacementinterest(i,'no',c.placementcyclename)"
                            style="font-size: 0.8rem;width: 5vw;" class="btn btn-danger">No</button>
                    </div><br />
                </div>
                <div style="background-color: #fff;font-size: 0.8rem;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;padding: 1rem;"
                    *ngIf="c[c.placementcyclename]=='yes'">
                    Hey ! your are in <strong>{{c.placementcyclename | uppercase}} .</strong>
                    <br />
                </div>
                <div style="background-color: #fff;font-size: 0.8rem;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;padding: 1rem;"
                    *ngIf="c[c.placementcyclename]=='no'">
                    Hey ! your did not participate in for <strong>{{c.placementcyclename | uppercase}} .</strong>
                    <br />
                </div><br />
            </div>
        </div>
        <ng-template #no>
            <div class="col-sm table-responsive card shadow"
                style="max-height: 90vh;border:none;background-color: #f4f5fb;"><br /><br />
                <h5><strong style="color: #1b1c1e;">PLACEMENTS CYCLES</strong></h5><br>

                <div style="display: flex;justify-content: center;align-items: center;height: 50vh">
                    <div style="text-align: center;">
                        <img src="../../../assets/search.gif" style="width:'300px'"><br>
                        You are not eligible for any placement cycles yet !
                    </div>
                </div>

            </div>
        </ng-template>



        <!-- <div class="table-responsive" style="margin:3%;margin-top: 1%;height: 90vh;"> -->
        <!-- <table class="table text-center" style="font-size: 11px;" *ngIf="overdata.length>0 else nocompany">
        <tr style="background-color: #00b0ff;color: white;">
            <th style="padding: 1%;">Placement's cycle</th>
            <th>Company</th>
            <th>company location</th>
            <th>Registered</th>
            <th>offerletter</th>
            <th>offerstatus</th>
            <th>verifiedoffer</th>
            <th>Placed</th>
            <th>Package</th>
        </tr>
        <tr id="ch" style="box-shadow: 0 14px 28px rgba(0,0,0,0.25),
        0 10px 10px rgba(63, 62, 62, 0.22); margin:4vw;width:20vw;height:5vw;" *ngFor="let c of overdata"
            (click)="company(c)">
            <td>{{c.placementcyclename}}</td>
            <td>{{c.companyname}}</td>
            <td>{{c.companylocation}}</td>
            <td>{{c.registered}}</td>
            <td>
                <div *ngIf="c.offerletter==''">Not yet uploaded</div>
                <div *ngIf="c.offerletter!=''" (click)="downloadPdf(c.offerletter,'Offer Letter')">
                    <div style="color: #00b0ff; cursor: pointer;">
                        Offer letter <h3><i class='bx bx-cloud-download'></i></h3>
                    </div>
                </div>
            </td>
            <td>{{c.offerstatus}}</td>
            <td>{{c.verifiedoffer}}</td>
            <td>{{c.placed}}</td>
            <td>{{c.package}}</td>
        </tr>
    </table> -->
        <!-- 
    <div style="padding-left:25%">
        <div style="box-shadow: 0 14px 28px rgba(0,0,0,0.25),
             0 10px 10px rgba(0,0,0,0.22); padding:2%; margin:4vw;width:30vw;cursor: pointer;"
            *ngFor="let c of overdata" (click)="company(c)">
            <div class="row">
                <div class="col-8">
                    <strong style="color: #00b0ff;"> Placement's cycle </strong>
                </div>
                <div class="col" style="color: #00b0ff;">

                    <span style="color: grey;font-size: 10px;">{{c.placementcyclename}}</span>
                </div><br><br>
                <div class="col-8">
                    <strong style="color: #00b0ff;"> company </strong>
                </div>
                <div class="col" style="color: #00b0ff;">

                    <span style="color: grey;font-size: 10px;">{{c.companyname}}</span>
                </div><br><br>
                <div class="col-8">
                    <strong style="color: #00b0ff;"> company location </strong>
                </div>
                <div class="col" style="color: #00b0ff;">

                    <span style="color: grey;font-size: 10px;">{{c.companylocation}}</span>
                </div><br><br>
                <div class="col-8">
                    <strong style="color: #00b0ff;"> Registered </strong>
                </div>
                <div class="col" style="color: #00b0ff;">

                    <span style="color: grey;font-size: 10px;">{{c.registered}}</span>
                </div><br><br>
                <div class="col-8">
                    <strong style="color: #00b0ff;"> offerletter </strong>
                </div>
                <div class="col" style="color: #00b0ff;">

                    <span style="color: grey;font-size: 10px;">
                        <div *ngIf="c.offerletter==''">Not yet uploaded</div>
                        <div *ngIf="c.offerletter!=''" (click)="downloadPdf(c.offerletter,'Offer Letter')">
                            <div style="color: #00b0ff; cursor: pointer;">
                                Offer letter <h3><i class='bx bx-cloud-download'></i></h3>
                            </div>
                        </div>
                    </span>
                </div><br><br>
                <div class="col-8">
                    <strong style="color: #00b0ff;"> offerstatus </strong>
                </div>
                <div class="col" style="color: #00b0ff;">

                    <span style="color: grey;font-size: 10px;">{{c.offerstatus}}</span>
                </div><br><br>
                <div class="col-8">
                    <strong style="color: #00b0ff;"> verifiedoffer </strong>
                </div>
                <div class="col" style="color: #00b0ff;">

                    <span style="color: grey;font-size: 10px;">{{c.verifiedoffer}}</span>
                </div><br><br>
                <div class="col-8">
                    <strong style="color: #00b0ff;"> Placed </strong>
                </div>
                <div class="col" style="color: #00b0ff;">

                    <span style="color: grey;font-size: 10px;">{{c.placed}}</span>
                </div><br><br>
                <div class="col-8">
                    <strong style="color: #00b0ff;"> Package </strong>
                </div>
                <div class="col" style="color: #00b0ff;">

                    <span style="color: grey;font-size: 10px;">{{c.package}}</span>
                </div><br><br>
            </div>
        </div>
    </div> -->


    </div>
    <div *ngIf="display" [ngClass]="{'view':display}">
        <span style="font-size: 1rem;">
            <span style="font-size: 1.3rem;color: #ffff;">
                <i class="fa fa-warning"></i>
            </span>
            &nbsp;{{popup}}
            <div class="btn"><i style="color:white;font-size:2rem" class="bx bxs-check-circle"></i></div>
        </span>
    </div>
</div>
<router-outlet></router-outlet>