<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':imagemodal}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="display: flex;justify-content: center;align-items: center;">
                <h4 class="modal-title">
                    <img class="imag1" [src]="tempimg" (click)="img.click()" style="cursor: pointer;" />
                    <input style="display: none;" accept="image/png, image/jpeg" (change)="handleFileSelect($event)"
                        type="file" #img>
                </h4>
                <div style="position: absolute;top: 5%;right: 5%;font-size: 1.5rem;cursor: pointer;" (click)="remove()">
                    <i class="fa fa-trash"></i>
                </div>
            </div>
            <div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="imagemodal='none';">cancel</button>
                    <button type="button" class="btn btn-primary" (click)="save()">{{saveimg}}</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div *ngIf="nodata[0]&&nodata[1] else nodat">
    <div class="layout">
        <div>
            <div
                style="padding: 0.7rem;padding-left: 1rem;font-size: 0.8rem; background-color: #fff;border-radius: 7px;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">

                <div class="row">

                    <div class="col-sm-1">
                        <div class="imageup">
                            <img class="imag" [src]="image" (click)="imagemodal='block';tempimg=image"
                                style="cursor: pointer;" />
                        </div><br>
                    </div>
                    <div class="col-sm-3">
                        <strong style="font-size: 1.2rem;color: #1b1c1e;">{{data.firstname| uppercase
                            }}&nbsp;{{data.middlename |
                            uppercase}}&nbsp;{{data.lastname|
                            uppercase}}</strong><br>
                        <span><strong>{{data.yearofjoining+4}}</strong> Passout batch
                            <strong>| {{data.rollnumber}}</strong></span><br>
                        <span><strong>{{data.currentyear}} </strong>YEAR <strong>, {{data.course |
                                uppercase}}</strong></span>
                        <br>
                        <span>DEPARTMENT OF <strong>{{data.department | uppercase}}</strong></span>
                    </div>

                    <div class="col-sm-2">
                        <span style="font-size: 2.5rem;">{{data.cgpa}}</span>
                        <span style="font-size: 2.5rem;" *ngIf="data.cgpa==''">0</span><br>
                        <span>CGPA</span>
                    </div>
                    <div class="col-sm-2">
                        <span style="font-size: 2.5rem;" *ngIf="overdata">{{offers}}</span>
                        <!-- <span style="font-size: 2.5rem;" *ngIf="overdata && offers==''">0</span> -->
                        <br>
                        <span>OFFERS</span>
                    </div>
                    <div class="col-sm-2">
                        <span style="font-size: 2.5rem;" *ngIf="overdata">{{applications}}</span>
                        <!-- <span style="font-size: 2.5rem;" *ngIf="data.cgpa==''">0</span> -->
                        <br>
                        <span>APPLICATIONS</span>
                    </div>
                    <div style="background-color: #d0efd0;border-radius: 60%;" *ngIf="data.verified=='yes'"
                        class="col-sm-1">
                        <br /><br />
                        <strong style="color: green;">
                            <h6><strong>&nbsp;&nbsp;VERIFIED</strong></h6>
                        </strong>
                    </div>
                    <div class="col-sm-1" style="background-color: #d0efd0;border-radius: 60%;"
                        *ngIf="data.verified==''">
                        <br /><br />
                        <strong style="color:#00B0FF ;">
                            <h6><strong>&nbsp;&nbsp;NOT YET VERIFIED</strong></h6>
                        </strong>
                    </div>
                    <div class="col-sm-1" style="background-color: #efc2ca;border-radius: 60%;"
                        *ngIf="data.verified=='no'"><br /><br />
                        <strong style="color: #a5081a;">
                            <h6><strong>&nbsp;&nbsp;NOT VERIFIED</strong></h6>
                        </strong>
                    </div>
                </div>
            </div>

            <div class="table-responsive"
                style="max-height: 77vh;margin-top: 0.5rem;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;border-radius: 7px;background-color: white">
                <div class="content" style="margin: 0rem 1.8rem;font-size: 0.8rem;margin-right: 1rem;">
                    <br />
                    <div class="row">
                        <strong style="padding: 0.5rem;margin-right: 0.7rem;color: #1b1c1e;font-size: 0.9rem;"
                            class="col-sm ">PERSONAL
                            DETAILS</strong>
                    </div>
                    <div class="row" style="font-size: 0.8rem;">
                        <div class="col-sm"
                            style="border-radius:2px;background-color: #fff;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;margin-bottom: 0.3rem;padding: 0.5rem;margin-right: 0.7rem;">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Roll number</td>
                                        <td>{{data.rollnumber}}</td>
                                    </tr>
                                    <tr>
                                        <td>Mail</td>
                                        <td>{{data.mail}}</td>
                                    </tr>
                                    <tr>
                                        <td>Alternative mail</td>
                                        <td>{{data.altmail }}</td>
                                    </tr>
                                    <tr>
                                        <td>Name</td>
                                        <td>{{data.firstname }}&nbsp;{{data.middlename |
                                            uppercase}}&nbsp;{{data.lastname|
                                            uppercase}}</td>
                                    </tr>
                                    <tr>
                                        <td>Date of Birth</td>
                                        <td>{{data.dob | date}}</td>
                                    </tr>
                                    <tr>
                                        <td>Gender</td>
                                        <td>{{data.gender }}</td>
                                    </tr>
                                    <!-- {{data.data | json}} -->
                                    <tr>
                                        <td>AADHAR number</td>
                                        <td>{{data.aadharno }}</td>
                                    </tr>
                                    <tr>
                                        <td>Pan Card Numer</td>
                                        <td>{{data.panno }}</td>
                                    </tr>
                                    <tr>
                                        <td>Religion</td>
                                        <td>{{data.religion }}</td>
                                    </tr>
                                    <tr>
                                        <td>Caste</td>
                                        <td>{{data.caste }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm"
                            style="border-radius:2px;background-color: #fff;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;margin-bottom: 0.3rem;padding: 0.5rem;">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Contact</td>
                                        <td>{{data.mobile}}</td>
                                    </tr>

                                    <tr>
                                        <td>EAMCET RANK</td>
                                        <td>{{data.rank }}</td>
                                    </tr>

                                    <tr>
                                        <td>Current address</td>
                                        <td>{{data.currentaddress }}</td>
                                    </tr>
                                    <tr>
                                        <td>Permanent address</td>
                                        <td>{{data.permanentaddress }}</td>
                                    </tr>
                                    <tr>
                                        <td>Father's Name</td>
                                        <td>{{data.fathername }}</td>
                                    </tr>
                                    <tr>
                                        <td>Mother's Name</td>
                                        <td>{{data.mothername }}</td>
                                    </tr>
                                    <tr>
                                        <td>Ongoing backlogs</td>
                                        <td *ngIf="data.ongoingbacklogs">{{data.ongoingbacklogs}}</td>
                                        <td *ngIf="!data.ongoingbacklogs">0</td>
                                    </tr>
                                    <tr>
                                        <td>Total backlogs</td>
                                        <td *ngIf="data.totalbacklogs">{{data.totalbacklogs}}</td>
                                        <td *ngIf="!data.totalbacklogs">0</td>
                                    </tr>
                                    <tr>
                                        <td>Admission quota</td>
                                        <td>{{data.admissionquota }}</td>
                                    </tr>
                                    <tr>
                                        <td>Having Laptop</td>
                                        <td>{{data.havinglaptop }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <strong style="padding: 0.5rem;margin-right: 0.7rem;color: #1b1c1e;font-size: 0.9rem;"
                                    class="col-sm ">ACADEMIC DETAILS</strong>
                            </div>
                            <div class="row">
                                <div class="col-sm"
                                    style="border-radius:2px;background-color: #fff;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;margin-bottom: 0.3rem;padding: 0.7rem;margin-right: 0.7rem;">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>Course</td>
                                                <td>{{data.course | uppercase}}</td>
                                            </tr>
                                            <tr>
                                                <td>Department</td>
                                                <td>{{data.department | uppercase}}</td>
                                            </tr>
                                            <tr>
                                                <td>Batch</td>
                                                <td>{{data.yearofjoining+4}}</td>
                                            </tr>


                                            <tr>
                                                <td>Ongoing backlogs</td>
                                                <td>{{data.ongoingbacklogs}}</td>
                                            </tr>
                                            <tr>
                                                <td>Total backlogs</td>
                                                <td>{{data.totalbacklogs}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-sm"
                                    style="border-radius:2px;background-color: #fff;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;margin-bottom: 0.3rem;padding: 0.7rem;">
                                    <table class="table table-bordered text-center" id="tb">
                                        <tbody>
                                            <tr>
                                                <td>Standard</td>
                                                <td>Board</td>
                                                <td>Institute</td>
                                                <td>Passing out year</td>
                                                <td>Scored marks</td>
                                            </tr>
                                            <tr>
                                                <td>X</td>
                                                <td>{{data.tenthboard}}</td>
                                                <td>{{data.tenthschoolname }}</td>
                                                <td>{{data.tenyear}}</td>
                                                <td>{{data.tenthcgpa}}/10</td>
                                            </tr>
                                            <tr>
                                                <td>XII</td>
                                                <td>{{data.interboard}}</td>
                                                <td>{{data.interclgname }}</td>
                                                <td>{{data.interyear}}</td>
                                                <td>{{data.intercgpa}}/10</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="nodata[2]">
                        <div class="row" style="font-size: 0.8rem;" *ngIf="sgpa.length>0">
                            <strong style="padding: 0.9rem;margin-right: 0.7rem;color: #1b1c1e;">SEMESTER
                                GRADES</strong><br>
                            <div class="col-sm"
                                style="border-radius:2px;background-color: #fff;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;margin-bottom: 0.3rem;padding: 1rem;margin-right: 0.7rem;">
                                <div echarts [options]="option"></div>
                            </div>
                            <div class="col-sm" *ngIf="sgpa.length>0"
                                style="border-radius:2px;background-color: #fff;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;margin-bottom: 0.3rem;padding: 1rem;margin-right: 0.7rem;">
                                <table class="table text-center" id="tb" *ngIf="sgpa.length>0">
                                    <tbody>
                                        <tr
                                            style="background-color: whitesmoke;box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;color: #4b4e54;">
                                            <td>COURSE</td>
                                            <td>SEMESTER</td>
                                            <td>GRADE POINTS</td>
                                        </tr>
                                        <tr *ngFor="let c of sgpa;index as i ">
                                            <td>{{data.course | uppercase}}</td>
                                            <td>{{i+1}}</td>
                                            <td>{{c }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <strong style="padding: 0.5rem;margin-right: 0.7rem;color: #1b1c1e;font-size: 0.9rem;"
                                class="col-sm ">
                                <span style="font-size:1rem;">SKILL TEST </span> &nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <span style="color: #4b4e54;">
                                    <span *ngIf="stdallratedata.main"> {{stdallratedata.main}}
                                    </span>
                                    <span *ngIf="!stdallratedata.main"> 0 </span>%</span>
                                &nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <span style="color: #00B0FF;">
                                    <span *ngIf="stdallratedata.rank">{{stdallratedata.rank}}</span>
                                    <span *ngIf="!stdallratedata.rank">0</span> RANK
                                </span>
                            </strong>
                        </div>
                        <div class="row">
                            <div class="col-sm"
                                style="border-radius:2px;background-color: #fff;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;margin-bottom: 0.3rem;padding: 0.7rem;margin-right: 0.7rem;">
                                <table class="table text-center">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <strong style="padding: 0.5rem;color: #1b1c1e;font-size: 0.9rem;"
                                                    class="col-sm ">
                                                    CODE TEST
                                                </strong>
                                            </td>
                                            <td>
                                                <strong style="padding: 0.5rem;color: #1b1c1e;font-size: 0.9rem;"
                                                    class="col-sm ">
                                                    <span *ngIf="stdallcodedata.main"> {{stdallcodedata.main}}
                                                    </span>
                                                    <span *ngIf="!stdallcodedata.main"> 0 </span>%
                                                </strong>
                                            </td>
                                            <td>
                                                <strong style="padding: 0.5rem;color: #1b1c1e;font-size: 0.9rem;"
                                                    class="col-sm ">
                                                    <span *ngIf="stdallcodedata.rank"> {{stdallcodedata.rank}}
                                                    </span>
                                                    <span *ngIf="!stdallcodedata.rank"> 0 </span>RANK
                                                </strong>
                                            </td>
                                        </tr>
                                        <tr *ngFor="let a of stdeachcoderate">
                                            <td>{{a.topic}}</td>
                                            <td>{{a.main}}%</td>
                                            <td>{{a.rank}} Rank</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm"
                                style="border-radius:2px;background-color: #fff;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;margin-bottom: 0.3rem;padding: 0.7rem;">
                                <table class="table text-center">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <strong style="padding: 0.5rem;color: #1b1c1e;font-size: 0.9rem;"
                                                    class="col-sm ">
                                                    QUIZ TEST
                                                </strong>
                                            </td>
                                            <td>
                                                <strong style="padding: 0.5rem;color: #1b1c1e;font-size: 0.9rem;"
                                                    class="col-sm ">
                                                    <span *ngIf="stdallquizdata.main"> {{stdallquizdata.main}}
                                                    </span>
                                                    <span *ngIf="!stdallquizdata.main"> 0 </span>%
                                                </strong>
                                            </td>
                                            <td>
                                                <strong style="padding: 0.5rem;color: #1b1c1e;font-size: 0.9rem;"
                                                    class="col-sm ">
                                                    <span *ngIf="stdallquizdata.rank"> {{stdallquizdata.rank}}
                                                    </span>
                                                    <span *ngIf="!stdallquizdata.rank"> 0 </span>RANK
                                                </strong>
                                            </td>
                                        </tr>
                                        <tr *ngFor="let a of stdeachquizrate">
                                            <td>{{a.topic}}</td>
                                            <td>{{a.main}}%</td>
                                            <td>{{a.rank}} Rank</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br />
                        <div *ngIf="codetopics.length>0"
                            style="border-radius:2px;background-color: #fff;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;margin-bottom: 0.3rem;padding: 1rem;margin-right: 0.7rem;">
                            <div echarts [options]="codeoption"></div>
                        </div><br />
                        <div *ngIf="quiztopics.length>0"
                            style="border-radius:2px;background-color: #fff;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;margin-bottom: 0.3rem;padding: 1rem;margin-right: 0.7rem;">
                            <div echarts [options]="quizoption"></div>
                        </div>
                        <br />
                    </div>
                </div>
                <br><br>
            </div>
        </div>
    </div>
</div>

<div *ngIf="display" [ngClass]="{'view':display}">
    <span style="font-size: 1rem;font-weight: bold;">
        &nbsp;{{popup}}
        <div class="btn"><i style="color:white;font-size:2rem" class="bx bxs-check-circle"></i></div>
    </span>
</div>

<ng-template #nodat>
    <div style="display: flex;justify-content: center;align-items: center;height:95vh;background-color: #f4f7fb;">
        <div style="text-align: center;">
            <img src="../../../assets/loading.gif"><br>
            <h5><strong>Time to relax !!! Student details are on the way .</strong></h5>
        </div>
    </div>
</ng-template>